[Unit]
Description=Jonah Dockerfile monitor
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/fed/Documents/main/jonah/jonah.py
[Install]
WantedBy=multi-user.target